header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  padding-left: 120px;
}
header nav .location__section, header nav .call__section {
  display: flex;
}
header nav .location__section .lockation__text, header nav .location__section .call__text, header nav .call__section .lockation__text, header nav .call__section .call__text {
  display: flex;
  flex-direction: column;
  color: #fff;
}
header nav .location__section {
  display: flex;
  align-items: center;
}
header nav .location__section .lockation__image {
  width: 28px;
  height: 40px;
}
header nav .location__section .lockation__text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  gap: 18px;
}
header nav .call__section {
  display: flex;
  align-items: center;
  padding-right: 120px;
}
header nav .call__section .call__text {
  padding-left: 15px;
  gap: 18px;
}
header nav .call__section .call__text p {
  font-weight: 700;
  font-size: 20px;
}
header nav .call__section .call__text a {
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
}
header .header__content {
  background-image: url(../Img/portrait-male-boxer-posing\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  min-height: 750px;
}
header .header__content .content__top {
  padding-top: 115px;
  margin-left: 120px;
  padding-bottom: 154px;
}
header .header__content .content__top p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}
header .header__content .content__center {
  display: flex;
  justify-content: center;
}
header .header__content .content__center h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  word-spacing: 74px;
  text-align: center;
}
header .header__content .content__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 197px;
}
header .header__content .content__bottom p {
  padding-left: 120px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
header .header__content .content__bottom .content__btn {
  display: flex;
  min-width: 277px;
  height: 50px;
  background-color: #F9BA50;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  align-items: center;
  margin-right: 120px;
}
header .header__content .content__bottom .content__btn .arrow {
  margin-left: 40px;
  background-image: url(../Img/Vector\ \(3\).png);
  width: 25px;
  height: 12px;
}
header .header__content .content__bottom .content__btn p {
  margin-right: 40px;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .call__text {
    font-size: 16px !important;
  }
  .lockation__text p {
    font-size: 14px !important;
  }
  .logo {
    padding-left: 20px !important;
  }
  .content__bottom p {
    padding-left: 20px !important;
  }
  .call__section, .content__btn {
    padding-right: 20px !important;
    margin-right: 20px !important;
  }
}
@media screen and (max-width: 750px) {
  .content__center h2 {
    font-size: 55px !important;
    padding: 0 !important;
  }
  nav {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .call__section {
    padding-top: 20px !important;
  }
  .content__top {
    margin-left: 0px !important;
  }
  .content__top p {
    text-align: center;
  }
  .content__bottom {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .content__bottom p {
    text-align: center;
    padding-bottom: 20px !important;
  }
  .content__bottom .content__btn {
    align-items: center !important;
  }
  .content__bottom .content__btn p {
    padding: 0 !important;
    margin-left: 0px !important;
  }
}/*# sourceMappingURL=header.css.map */